@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Space+Mono:wght@700&display=swap');

#title{
  text-align: center;
  font-family: 'Inconsolata';
  font-size: 44px;
  font-weight: bold;
}
#logo{
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.message1{
  font-family: 'Space Mono';
  font-size: 35px;
  color: #333333;
  display: block;
  text-align: center;
}
.message2{
  font-family: 'Space Mono';
  font-size: 15px;
  color: #333333;
  font-weight: light;
  display: block;
  text-align: center;
  line-height: 30px;
}
#button{
  display: block;
  margin: auto;
  width: 100%;
  font-family: sans-serif;
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  padding: 5px;
  border: 1px soild #111111;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
@media(min-width: 800px){
  #title{
    font-size: 64px;
  }
  .message1{
     font-size: 50px;
  }
  .message2{
    font-size: 20px;
  }
}